[submodule "unimatch"]
	path = ext/unimatch
	url = git@github.com:MasahiroOgawa/unimatch.git
[submodule "ext/InternImage"]
	path = ext/InternImage
	url = git@github.com:MasahiroOgawa/InternImage.git
[submodule "ext/cityscapesScripts"]
	path = ext/cityscapesScripts
	url = https://github.com/mcordts/cityscapesScripts.git
