[submodule "unimatch"]
	path = reconstruct4D/ext/unimatch
	url = git@github.com:MasahiroOgawa/unimatch.git
[submodule "InternImage"]
	path = reconstruct4D/ext/InternImage
	url = git@github.com:MasahiroOgawa/InternImage.git
[submodule "cityscapesScripts"]
	path = reconstruct4D/ext/cityscapesScripts
	url = https://github.com/mcordts/cityscapesScripts.git
[submodule "unsupervised_detection"]
	path = reconstruct4D/ext/unsupervised_detection
	url = git@github.com:MasahiroOgawa/unsupervised_detection.git
[submodule "reconstruct4D/ext/InternImage"]
	path = reconstruct4D/ext/InternImage
	url = git@github.com:MasahiroOgawa/InternImage.git
