[submodule "unimatch"]
	path = reconstruct4D/ext/unimatch
	url = git@github.com:MasahiroOgawa/unimatch.git
[submodule "ext/InternImage"]
	path = reconstruct4D/ext/InternImage
	url = git@github.com:MasahiroOgawa/InternImage.git
[submodule "ext/cityscapesScripts"]
	path = reconstruct4D/ext/cityscapesScripts
	url = https://github.com/mcordts/cityscapesScripts.git
[submodule "reconstruct4D/ext/davis"]
	path = reconstruct4D/ext/davis
	url = git@github.com:davisvideochallenge/davis.git
